body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333333;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#text{
    position: relative;
    color: #fff;
    font-size: 10em;
    font-weight: 500;
    cursor: default;
    font-family: ui-sans-serif;
}

#light{
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%; left: 50%;
    transform: translate( -50% , -50%);
    background-color: #ffeba8;
    border-radius: 50%;
    box-shadow: 0 0 15px #ffeba8 ,
    0 0 50px #ffeba8 ,
    0 0 100px #ffeba8 ,
    0 0 200px #ffeba8 ,
    0 0 300px #ffeba8;
}